.pagination {
  display: flex;
  margin: 0 auto;
  width: 30%;
  justify-content: space-between;
  margin-bottom: 10px;
  &.dark > li > .page {
    color: rgb(255, 127, 251);
  }
}
.paginate {
  list-style-type: none;
  &.active {
    background-color: brown;
  }
}

.page {
  color: aqua;
  font-size: 1.6rem;
}
