.people {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 50px;
  &.active {
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    overflow-y: scroll;
    gap: 2px;
  }
  &.active::-webkit-scrollbar {
    width: 12px;
  }
  &.active::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &.active::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
}

.person {
  width: 46%;
  background-color: #aaeae1;
  padding: 10px;
  border-radius: 50px;
  &:hover {
    background-color: rgb(84, 217, 227);
  }
  &.active {
    width: 100%;
    border-radius: 0;
  }
}

.name {
  color: #d83b3b;
}

.description {
  font-size: 1.6rem;
  margin-top: 10px;
  line-height: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #d83b3b;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 501px) {
  .person {
    width: 60%;
  }
}

@media (max-width: 501px) {
  .person {
    width: 80%;
  }
}
