.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  &.active {
    display: flex;
    flex-direction: row;
  }
  &.dark {
    background-color: #190c6c;
  }
}

.main {
  margin-bottom: 0;
  background-color: #88b6bb;

  &.dark {
    background-color: #350d0d;
  }
}
