* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
  line-height: 16px;
}

body {
  font-family: Inter, Verdana, sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

.root {
  height: 100vh;
}
